table{
    border: solid 1pt black;
    border-collapse: collapse;
    border-top: solid 4px #DAC406 ;
}

td{
    border: solid 1pt blue;  
    padding: 10pt;
}

caption{
font-weight: bold;
padding: 0.25em 0 0.25em 0;
text-align: left;
text-transform: uppercase;
border-top:solid 1pt #DCA805;
}


tbody tr:hover{
    background-color: #9e9e9e;
    color: black;
}
tbody tr:nth-child(even) {
    background-color: lightblue;
}

tfoot{
    background-color: aqua;
}